.profile-wrapper {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-top: 1.5rem;
}

@media screen and (min-width: 700px) {
    .profile-wrapper {
        height: 120px;
    }
}

@media screen and (max-width: 699px) {
    .profile-wrapper {
        height: 90px;
    }
}

.profile-img {
    align-self: center;
}

.profile-img img {
    border-radius: 50%;
}


@media screen and (min-width: 700px) {
    .profile-img {
        width: 105px;
        height: 100px;
        margin-bottom: 0;
        margin-right: 1.5rem;
    }
}

@media screen and (max-width: 699px) {

    .profile-img,
    .profile-img img {
        display: none;
    }
}

.profile-name {
    color: #252525;
    margin: 0;
    font-size: 120%;
    font-weight: 700;
}

.one-liner {
    color: #bbbbbb;
    font-size: 80%;
    margin: 0;
}